/* Variables */
:root {
    --primary-color: #673ab7;
}

/* General */
html, body { height: 100%; }
body {
    /*background: #000;
    background-image: linear-gradient(to right bottom, #000000, #080808, #101010, #151515, #1a1a1a, #1b1b1b, #1b1b1b, #1c1c1c, #191919, #161616, #131313, #0f0f0f);
    background-attachment: fixed;
    background-repeat: no-repeat;*/

    //color: #efefef;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Override Material Components Defaults */
.mat-app-background {
    background: #e4e4e4;
}

mat-button-toggle.mat-button-toggle-appearance-standard {
    background: whitesmoke;

    &.mat-button-toggle-checked {
        //background-color: #b78fe1;
        background-color: var(--primary-color);
        color: whitesmoke;

        .mat-pseudo-checkbox {
            --mat-minimal-pseudo-checkbox-selected-checkmark-color: whitesmoke;
        }
    }
}

mat-bottom-sheet-container.mat-bottom-sheet-container {
    min-width: auto;
    border-radius: 18px 18px 0 0;
    padding: 24px;
}
