@use '@angular/material' as mat;
@include mat.core();

/* Component themes */
//$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-primary: mat.define-palette(mat.$teal-palette, A400, A200, A700);
$my-accent: mat.define-palette(mat.$light-blue-palette, A400, A200, A700);

$my-dark-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    ),
    density: 0,
));

$my-light-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
    ),
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-dark-theme);

// Emit theme-dependent styles for all components
@include mat.all-component-themes($my-dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
    @include mat.core-color($my-light-theme);
    @include mat.all-component-colors($my-light-theme);
}
