<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Filters</span>

        <span class="spacer"></span>

        <a [routerLink]="['/']" class="home-link">
            <mat-icon svgIcon="tv" aria-label="TV icon" aria-hidden="true"></mat-icon>
            <span class="page-title">What To Stream</span>
        </a>

        <span class="spacer"></span>
    </mat-toolbar>
</div>
