.mat-toolbar {
    background: transparent;
    color: #303030;
}

.spacer {
    flex: 1 1 auto;
}

a.home-link {
    color: inherit;
    text-decoration: none;

    .mat-icon {
        margin-right: 8px;
        vertical-align: middle;
    }
}
