.mat-toolbar {
    background: transparent;
    color: #303030;

    .spacer {
        flex: 1 1 auto;
    }

    a.home-link {
        color: inherit;
        font-size: 1.5rem;
        text-decoration: none;

        .mat-icon {
            height: 1.8rem;
            width: 1.8rem;
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}
