.mat-toolbar {
    background: transparent;
    color: #efefef;
}

.spacer {
    flex: 1 1 auto;
}

a.home-link {
    color: inherit;
    text-decoration: none;

    .mat-icon {
        vertical-align: middle;
    }
}
