/* You can add global styles to this file, and also import other style files */
@import url(reset.scss);

html, body { height: 100%; }
body {
    background: #1e1f23;
    margin: 0;;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #222;
    }
}
